.tablestyle{
    color: #f8f9fa!important;
    background-color: #28a745;
    border-color: #28a745;
}
table{
    border-radius: .25rem;
}
tr{
    text-align:left;
    border-bottom: 1px solid #000000;
}
.titletable{
    background-color: #343a40!important;
    text-align: center;
    color: white;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.trtitletable{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.img{
    width: 200px;
    height: 100px;
}
.opensource{
    padding: 20px;
    color: #f8f9fa;
    background-color: #28a745;
    border-color: #f8f9fa;
    border-radius: 10px;
}
h4{
    font-weight: 700;
    color: #202020;
}