.op{
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.op:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #000000;
}
.textoajust{
    word-wrap: break-word
}
th{
    text-align:left;
    border-bottom: 1px solid #000000;
}
td{
    text-align:right;
    border-bottom: 1px solid #000000;
}
.trxtag{
    font-size: 11px;
    float: right;
    margin: -1px 0 0 8px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.texto{
    color: #000000!important;
}
a{
    color: #972f2fcb;
}
a:link{
    text-decoration: none;
}
.img{
    width: 200px;
    height: 100px;
}
.opensource{
    padding: 20px;
    color: #f8f9fa;
    background-color: #28a745;
    border-color: #f8f9fa;
    border-radius: 10px;
}
h4{
    font-weight: 700;
    color: #202020;
}