<style>
    .textowitness:link{
        text-decoration: none;
    }
    .textowitness{
        color: white;
    }
</style>
<nav class="navbar navbar-light text-white bg-success">
    <div class="container">
        <a class="navbar-brand textowitness" href="/">
            <img src="https://media.discordapp.net/attachments/475265370878640128/494537891158949893/1898.png" width="30" height="30"  class="d-inline-block align-top" alt="">
            Smoke Data
        </a>
        <form class="form-inline my-2 my-lg-0">
                <a class="textowitness" href="https://smoke.io/~witnesses">Consider voting for witness @chronocrypto</a>
        </form>
    </div>
</nav>